<div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
  <a *ngFor="let video of videos" [routerLink]="['/', video.id]"
     class="relative mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">

    <!-- Video Thumbnail -->
    <ng-container *ngFor="let image of video.images">
      <img *ngIf="image.type === 'thumbnail'" class="card-img-top rounded-tl-2xl w-full"
           [src]="image.url" crossorigin>
    </ng-container>

    <!-- Video Duration Box -->
    <div class="bg-black text-white w-fit absolute bottom-0 right-0 opacity-70">
      {{ video.duration }}
    </div>

    <!-- Video Description on Image Hover -->
    <div class="bg-white rounded-tl-2xl w-full h-full absolute opacity-0 bottom-0 hover:opacity-80 flex flex-col justify-center items-center">
      <p class="text-center font-bold">{{ video.description }}</p>
    </div>

  </a>
</div>
